html {
	background-color: #000;
	color: #fff;
	font-family: serif;
	margin-left:10px;
	margin-top:15px;
}
#main {
	margin-left:10%;
	margin-top:3.5%;
}
a {
	color: #ff8080;
}
::selection {
  color: #fff;
  background: #804040;
}